@font-face {
    font-family: 'Angry';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/angry/Angry.otf') format('opentype');
}

@font-face {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/manrope/Manrope-Bold.ttf') format('truetype');
}


@font-face {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/manrope/Manrope-Regular.ttf') format('truetype');
}

.angry {
    font-family: 'Angry', sans-serif;
}

.manrope {
    font-family: 'Manrope', sans-serif;
}