.title {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
    gap: 4px;
    width: 100%;

    margin-top: 40px;

    @media screen and (max-width: 900px) {
        margin: 0;
        padding: 10px;
    }
}

.title .title-logo {
    height: 100%;
    margin-right: 12px;

    @media screen and (max-width: 900px) {
        display: none;
    }
}

.title h1 {
    display: inline-block;
    vertical-align: bottom;
    color: var(--primary);
    font-weight: 400;
    font-size: 164px;
    @media screen and (max-width: 900px) {
        font-size: 96px;
    }

    letter-spacing: 2%;
    line-height: 1;

    text-box-edge: cap alphabetic;
    text-box-trim: trim-both;
}

.title .slider {
    background: var(--primary);
    width: 355px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    overflow: hidden;

    @media screen and (max-width: 900px) {
        display: none;
    }

    font-family: "Manrope", sans-serif;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: 2%;
    white-space: nowrap;

    .slider-title {
        display: inline-block;
        width: fit-content;

        font-size: 64px;
        line-height: 120%;
        letter-spacing: 2%;
        white-space: nowrap;
        animation: marquee 8s linear infinite;
    }

    .slider-description {
        display: inline-block;
        width: fit-content;

        color: var(--bg);
        font-size: 24px;
        margin-bottom: 12px;

        animation: marquee 4s linear infinite reverse;
    }
}

@keyframes marquee {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(calc(-50% - 10px), 0);
    }
}